@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import '@/assets/variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background: $background-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}